<h1>About Me! Creating a stock market app</h1>
<p>This is my project for a stock market app. Users can know track their favorite stock without any of their personal information being 
    information on the web.
</p>